main {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#filter {
    padding: 1rem;
    text-align: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card{
    background-color: #3d9bff;
    padding: 1.3rem;
    margin: 1.3rem;
    width: 500px;
    height: 600px;
    cursor: pointer;
}

.skill-card-image {
    object-fit: cover;
    width: 500px;
}

.skill-button {
    font-size: 1.5rem;
    border: none;
    background-color: #ffffff;
    padding: 1rem;
}



